.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  list-style-type: none;
  border-radius: 10px;
}

.card__image {
  object-fit: cover;
  width: 282px;
  height: 282px;
}

.card__text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.card__description {
  max-height: 50px;
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background: transparent url(../images/like-button-inactive.svg) center
    no-repeat;
  width: 21px;
  height: 18px;
  border-style: none;
  cursor: url(../images/cursor.png), auto;
}

.card__like-button:hover {
  opacity: 30%;
}
