@media screen and (max-width: 320px) {
  .header {
    margin: 0;
  }

  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin: 0;
  }

  .profile__title {
    max-width: 196px;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 14px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    grid-gap: 0;
  }

  .profile__description {
    max-width: 100%;
    text-align: center;
    margin: 10px 19px 36px;
  }

  .profile__edit-button {
    max-width: 18px;
    min-height: 18px;
    margin-top: 38px;
  }

  .profile__add-button {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0;
    width: 282px;
    min-height: 50px;
  }

  .footer {
    justify-content: flex-end;
    margin: 0;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
  }
}
