.footer {
  max-width: 318px;
  min-height: 18px;
  box-sizing: border-box;
  margin-top: 67px;
  margin-left: 200px;
  margin-bottom: 60px;
}

.footer__copyright {
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .footer {
    align-self: center;
    margin-left: 0;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 48px 19px 36px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
