.footer {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  color: #545454;
  max-width: 318px;
  min-height: 18px;
  box-sizing: border-box;
  margin: 70px 85px 60px;
  padding: 0;
}

.footer__copyright {
  margin: 0;
  padding: 0;
}
