.header {
  margin-top: 45px;
  padding-bottom: 42px;
  border-bottom: solid rgb(84 84 84 / 0.7);
}

.header__logo {
  height: 33px;
  width: 173px;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 801px) and (max-width: 906px) {
  .header__logo {
    padding-left: 50px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    margin: 0;
  }

  .header__logo {
    margin: 40px 60px 0;
  }
}

@media screen and (max-width: 621px) {
  .header {
    margin: 0;
    padding-bottom: 32px;
  }

  .header__logo {
    min-height: 24px;
    max-width: 126px;
    margin-top: 28px;
    margin-left: 27px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-bottom: 42px;
  }
}
