.modal {
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  display: flex;
  position: fixed;
  padding: 0 19px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__container {
  background-color: #ffffff;
  position: relative;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  max-width: 70vw;
  max-height: 70vh;
}

.modal__container--image {
  background-color: transparent;
  max-width: 70vw;
  max-height: 70vh;
}

.modal__close {
  background-color: transparent;
  background-image: url("../images/close__icon-inactive.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  cursor: pointer;
  height: 40px;
  width: 40px;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  border: none;
}

.modal__close--image {
  bottom: calc(100% - 30px);
  left: calc(100% - 30px);
}

.modal__image {
  max-width: 100%;
  max-height: 70vh;
  display: block;
}

.modal__description {
  color: #ffffff;
  font-family: Inter, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px;
}

.modal__form {
  display: grid;
  row-gap: 28px;
  font-family: Inter, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
}

.modal__heading {
  font-family: Inter, Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 35px;
  padding: 0;
}

.modal__input {
  height: 28px;
  max-width: 100%;
  border: none;
  border-bottom: solid rgb(84 84 84 / 0.2);
}

.modal__input_type_error {
  border-color: #ff0000;
}

.modal__save_button {
  background-color: #000000;
  color: #ffffff;
  margin-top: 23px;
  width: 360px;
  height: 50px;
  cursor: pointer;
}

.modal__save_button_disabled {
  background-color: #ffffff;
  color: rgb(84 84 84 / 0.2);
}

.modal__error {
  color: red;
}

@media screen and (min-width: 320px) and (max-width: 630px) {
  .modal__container {
    min-height: 322px;
    padding: 23px;
  }

  .modal__close {
    height: 26px;
    width: 26px;
    bottom: calc(100% + 25px);
    left: calc(90%);
  }

  .modal__heading {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding-bottom: 45px;
  }

  .modal__save_button {
    max-width: 220px;
  }
}
