@media screen and (max-width: 320px) {
  .header {
    margin: 28px 0 0;
  }

  .header__logo {
    margin-left: 27px;
  }

  .profile {
    flex-direction: column;
    margin: 0;
  }

  .profile__image {
    margin: 0;
  }

  .profile__title {
    max-width: 196px;
    font-size: 22px;
    font-weight: 500;
    line-height: 26.63px;
    text-align: center;
    margin-top: 35px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    grid-gap: 0;
  }

  .profile__description {
    max-width: 100%;
    text-align: center;
    margin: 10px 19px 36px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-top: 38px;
    margin-left: 10px;
  }

  .profile__add-button {
    padding: 0;
    width: 282px;
    min-height: 50px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .footer {
    margin: 48px 19px 36px;
  }

  .footer__copyright {
  }
}
