@media screen and (max-width: 800px) {
  .header {
    margin: 40px 60px 0;
    padding-left: 0;
  }

  .profile {
    margin-left: 60px;
    margin-right: 50px;
  }

  .profile__title {
    max-width: 200px;
    font-size: 30px;
  }

  .profile__info {
    grid-template-columns: repeat(auto-fit, 282px);
  }

  .profile__edit-button {
    margin: 10px 0 0;
  }

  .profile__add-button {
    margin-left: inherit;
    padding: 0;
  }

  .cards {
    margin-top: 50px;
  }

  .footer {
    margin-left: 100px;
  }
}
